.wrapper {
  width: 75%;
  margin: 0 auto;
  height: fit-content;
  background: #24272c;
  border-radius: 20px;
  padding: 35px;
  margin-bottom: 10px;
}
.buildContent {
  display: flex;
}
.buildContent .leftSide {
  display: flex;
  flex-basis: 40%;
  flex-wrap: wrap;
}
.rightSide {
  display: flex;
  align-items: center;
  flex-basis: 60%;
}
.rightSide .heading {
  font-size: 40px;
  max-width: 50%;
}
.card {
  margin: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 130px;
  width: 130px;
  border: 1px solid rgba(255, 255, 255, 0.253);
  text-transform: uppercase;
  font-size: 13px;
}
