.wrapper {
  width: 75%;
  margin: 120px auto;
  display: flex;
  justify-content: space-between;
}
.heroLeftSide {
  flex-basis: 50%;
}
.heroRightSide {
  flex-basis: 50%;
  /* border: 1px solid red; */
}
.heroRightSide img {
  display: flex;
  float: right;
  justify-content: flex-end!important;
  align-items: center;
  height: 350px;
  width: 350px;
}

.heroLeftSide .header {
  font-size: 45px;
  font-weight: 600;
}

.heroLeftSide p {
  padding: 9px 0;
  max-width: 450px;
  color: #636569;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

.butonGroup button {
  outline: 0;
  /* border: 1px solid rgba(255, 255, 255, 0.171); */
  border: 1px solid rgba(255, 255, 255, 0.253);
  background: var(--button);
  color: var(--text);
  padding: 14px 25px;
  border-radius: 25px;
  margin-right: 20px;
  font-size: 12px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
.butonGroup .btnSecond {
  background: transparent;
}

.iconBox {
  background: #fff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

@media screen and (max-width: 601px) {
  .wrapper {
    margin: 50px auto;
    flex-direction: column;
    width: 90%;
  }
  .heroLeftSide {
    flex-basis: 100%;
  }
}
